* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    font-size: 62.5%;
}


/* 导航栏 */

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 100%;
}

header .line {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem 1.5rem;
}

.line span {
    width: 2.6rem;
    height: .3rem;
    background-color: #666666;
    border-radius: 8px;
}


/* 底部 */

footer {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eeeeee;
}

footer ul {
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer ul li a {
    font-size: 1.2rem;
    color: #494949;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d5d4d4;
}

footer ul li a span {
    width: 8rem;
    height: 3.9rem;
    line-height: 3.9rem;
    margin-left: 3rem;
}

footer ul li a span:nth-of-type(2) {
    text-align: center;
}

footer div {
    display: flex;
}

footer .p1 img,
footer .p3 img {
    width: 1.5rem;
    height: 1.5rem;
}

footer .p1,
footer .p2,
footer .p3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3c0162;
}

footer .p5 {
    color: #868686;
    font-size: 1.2rem;
}

footer .p1 img,
footer .p3 img {
    margin: 0 1.5rem;
}

footer .p2 span {
    margin-left: 4.5rem;
}

footer .p4 {
    margin-left: 3rem;
}

footer .p4 img {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 1.5rem;
}

footer .p5 {
    margin-left: 1.6rem;
}